﻿<!DOCTYPE html>
<html lang="en" ng-app="DummyAPI">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="This online tool allows you to quickly define mock web service endpoints and have them return JSON, XML or plain text data.">
    <meta name="keywords" content="web, service, mock, json, webservice, json, xml, test, rest, api, developers, integration, app">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("Restponder", "Index", "Home", null, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Create", "Create", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Edit", "Index", "Edit", new { area = "" }, null)</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Restponder</p>
        </footer>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@Scripts.Render("~/bundles/angularapp")*@
    @*@Scripts.Render("~/Scripts/angular.min.js", "~/Scripts/app/app.js")*@
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/app/app.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
